{% extends 'layouts/admin.html' %} {% block content %}
<div class='row wrapper'>
    <div class='col-lg-10'>
        <h3>Listing Groups</h3>
        <ol class='breadcrumb'>
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a>Groups</a>
            </li>
            <li class='active'>
                <strong>Listing Groups</strong>
            </li>
        </ol>
    </div>
    <div class='col-lg-2'></div>
</div>
<!-- CONTENT -->
<div class='wrapper wrapper-content'>
    <div class='row'>
        <div class='col-lg-12 s-element'>
            <div class=''>
                <h4>Groups</h4>
            </div>
            <div class="pull-right">
                <button class="btn btn-default">New Group</button>
            </div>
            <br>
            <br>
            <div class="s-element-item">
                <i class="fa fa-cloud"></i>
                <a>Cloud Servers</a>
            </div>
            <div class="s-element-item">
                <i class="fa fa-cloud"></i>
                <a>Bare Metal</a>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class='footer fixed'>
    <div class='pull-right'>
        <span class='text-muted' style='margin-right: 20px;'>Dúvidas</span>
        <span class='text-muted' style='margin-right: 20px;'>Feedback</span>
        <span class='text-muted'>Contato</span>
    </div>
    <div>
        <span class='text-muted'>Copyright © 2015 Zertico</span>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
