{% extends 'layouts/application.html' %}

{% block content %}

<section>
  <div class='row'>
    <div class='col-lg-10'>
      <h2>Listing Invoices</h2>
      <ol class='breadcrumb'>
        <li>
          <a href='/'>Home</a>
        </li>
        <li>
          <a>Invoices</a>
        </li>
        <li class='active'>
          <strong>Cancel Invoice</strong>
        </li>
      </ol>
    </div>
    <div class='col-lg-2'></div>
  </div>
    <div class='row'> 
      <div class='col-lg-12'>
        <div>
          <div>
            <div class='col-lg-8'>
              <h2>Companies</h2>
            </div>
            <div class='col-lg-4'></div>
            <a class="btn btn-inverse" href="#">Criar Company</a>
          </div>
          <div class='clearfix'>
            <div class='col-lg-8'>
              <table class="table"><thead><tr><th>Name</th><th>Domain</th><th>Key name</th><th>Actions</th></tr></thead><tbody><tr><td>Foo Inc.</td><td>foo.localhost</td><td>KN_1</td><td><a href="#">Visualizar</a> <a href="#">Editar</a> <a href="#">Excluir</a></td></tr><tr><td>Acme Inc.</td><td>acme.localhost</td><td>KN_2</td><td><a href="#">Visualizar</a> <a href="#">Editar</a> <a href="#">Excluir</a></td></tr><tr><td>Linux Foo Inc.</td><td>foo.com</td><td>KN_3</td><td><a href="#">Visualizar</a> <a href="#">Editar</a> <a href="#">Excluir</a></td></tr><tr><td>Linux Acme Inc.</td><td>acme.com</td><td>KN_4</td><td><a href="#">Visualizar</a> <a href="#">Editar</a> <a href="#">Excluir</a></td></tr></tbody></table>
              
            </div>
            <div class='col-lg-4'>
              <br>
              <div class='panel panel-default'>
                <div class='panel-heading'>
                  <h3 class='panel-title'>
                    Busca
                  </h3>
                </div>
                <div class='panel-body'>
                  <form><input type="hidden" value="&#x2713;" /><div class="form-group string required"><label class="string required control-label"><abbr title="necessário">*</abbr> Nome Contém...</label><input class="string required form-control" type="text"/></div>
                  <input type="submit" name="commit" value="Buscar" class="btn btn-default" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block javascript %}
{% endblock %}