{% extends 'layouts/shop.html' %} {% block content %}
<div id="page-menu">
    <div class="container clearfix">
        <div class="menu_page_title">
            Produtos
            <span>Foo Inc</span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="http://foo.localhost:3004/br/shop/servers">Servers</a>
                </li>
                <li>
                    <a href="http://foo.localhost:3004/br/shop/emails">E-mails</a>
                </li>
                <li>
                    <a href="http://foo.localhost:3004/br/shop/office-365">Office 365</a>
                </li>
            </ul>
        </nav>
        <div id="page-submenu-trigger">
            <i class="icon-reorder"></i>
        </div>
    </div>
</div>
<section class="page_title">
    <div class="container clearfix">
        <h1>Servidores</h1>
        <span>Servidores perfeitos para a sua necessidade, performance e confiabilidade!</span>
        <ol class="breadcrumb">
            <li>
                <a href="#">Página Inicial</a>
            </li>
            <li>
                <a href="#">Loja</a>
            </li>
            <li class="active">Servidores</li>
        </ol>
    </div>
</section>
<section id="page_content">
    <div class="wrap_content">
        <div class="container clearfix">
            <div class="title_border_bottom">
                <h3>
          Mais
          <span>planos a sua escolha</span>
        </h3>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box_plan">
                    <div class="box_icon_plan">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="box_desc">
                        <h3>
                          Small
                          <!-- %span.subtitle= @model.description -->
                        </h3>
                        <p>
                            Processor :
                            <b>1 x 2.0 GHz Core</b>
                            <br> RAM Memory :
                            <b>2 GB</b>
                            <br> Disk Type :
                            <b>san</b>
                            <br> Disk 1 (SAN) :
                            <b>25 GB (SAN)</b>
                            <br> Datacenter :
                            <b>Washington 1</b>
                            <br> Operating System :
                            <b>Debian - Latest (64 bit)</b>
                            <br> R$ 224,93
                        </p>
                        <a href="/br/shop/cart/add/1" class="btn btn-default btn-inverse">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box_plan">
                    <div class="box_icon_plan">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="box_desc">
                        <h3>
              Medium
              <!-- %span.subtitle= @model.description -->
            </h3>
                        <p>
                            Processor :
                            <b>2 x 2.0 GHz Cores</b>
                            <br> RAM Memory :
                            <b>4 GB</b>
                            <br> Disk Type :
                            <b>san</b>
                            <br> Disk 1 (SAN) :
                            <b>25 GB (SAN)</b>
                            <br> Datacenter :
                            <b>Washington 1</b>
                            <br> Operating System :
                            <b>Debian - Latest (64 bit)</b>
                            <br> R$ 449,86
                        </p>
                        <a href="/br/shop/cart/add/2" class="btn btn-default btn-inverse">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box_plan">
                    <div class="box_icon_plan">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="box_desc">
                        <h3>
              Large
              <!-- %span.subtitle= @model.description -->
            </h3>
                        <p>
                            Processor :
                            <b>4 x 2.0 GHz Cores</b>
                            <br> RAM Memory :
                            <b>8 GB</b>
                            <br> Disk Type :
                            <b>san</b>
                            <br> Disk 1 (SAN) :
                            <b>100 GB (SAN)</b>
                            <br> Datacenter :
                            <b>Washington 1</b>
                            <br> Operating System :
                            <b>Debian - Latest (64 bit)</b>
                            <br> R$ 940,14
                        </p>
                        <a href="/br/shop/cart/add/3" class="btn btn-default btn-inverse">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box_plan">
                    <div class="box_icon_plan">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="box_desc">
                        <h3>
              Enterprise
              <!-- %span.subtitle= @model.description -->
            </h3>
                        <p>
                            Processor :
                            <b>12 x 2.0 GHz Cores</b>
                            <br> RAM Memory :
                            <b>12 GB</b>
                            <br> Disk Type :
                            <b>san</b>
                            <br> Disk 1 (SAN) :
                            <b>100 GB (SAN)</b>
                            <br> Disk 2 (SAN) :
                            <b>250 GB (SAN)</b>
                            <br> Datacenter :
                            <b>Washington 1</b>
                            <br> Operating System :
                            <b>Debian - Latest (64 bit)</b>
                            <br> R$ 2.008,82
                        </p>
                        <a href="/br/shop/cart/add/4" class="btn btn-default btn-inverse">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box_plan">
                    <div class="box_icon_plan">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="box_desc">
                        <h3>
              Blog
              <!-- %span.subtitle= @model.description -->
            </h3>
                        <p>
                            Processor :
                            <b>2 x 2.0 GHz Cores</b>
                            <br> RAM Memory :
                            <b>2 GB</b>
                            <br> Disk Type :
                            <b>san</b>
                            <br> Disk 1 (SAN) :
                            <b>25 GB (SAN)</b>
                            <br> Datacenter :
                            <b>Washington 1</b>
                            <br> Operating System :
                            <b>Debian - Latest (64 bit)</b>
                            <br> R$ 321,33
                        </p>
                        <a href="/br/shop/cart/add/5" class="btn btn-default btn-inverse">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box_plan">
                    <div class="box_icon_plan">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="box_desc">
                        <h3>
              Ecommerce
              <!-- %span.subtitle= @model.description -->
            </h3>
                        <p>
                            Processor :
                            <b>4 x 2.0 GHz Cores</b>
                            <br> RAM Memory :
                            <b>8 GB</b>
                            <br> Disk Type :
                            <b>san</b>
                            <br> Disk 1 (SAN) :
                            <b>25 GB (SAN)</b>
                            <br> Datacenter :
                            <b>Washington 1</b>
                            <br> Operating System :
                            <b>Debian - Latest (64 bit)</b>
                            <br> R$ 874,01
                        </p>
                        <a href="/br/shop/cart/add/6" class="btn btn-default btn-inverse">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}
