{% extends 'layouts/shop.html' %}

{% block content %}

<section class="page_title page_title_mini">
  <div class="container clearfix">
    <h1>Carrinho de Compras</h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">Página Inicial</a>
      </li>
      <li>
        <a href="#">Carrinho de Compras</a>
      </li>
    </ol>
  </div>
</section>
<section id="page_content">
  <div class="wrap_content">
    <div class="container clearfix">
      <ul class="menu_steps clearfix">
        <li>
          <a class="step_icon fa fa-database" href="#"></a>
          <h5>Configurar Produto</h5>
        </li>
        <li class="active">
          <a class="step_icon fa fa-shopping-cart" href="#"></a>
          <h5>Revisar Compra</h5>
        </li>
        <li>
          <a class="step_icon fa fa-user" href="#"></a>
          <h5>Identificação</h5>
        </li>
        <li>
          <a class="step_icon fa fa-money" href="#"></a>
          <h5>Efetuar Pagamento</h5>
        </li>
        <li>
          <a class="step_icon fa fa-check" href="#"></a>
          <h5>Produto Liberado</h5>
        </li>
      </ul>
    </div>
    <div class="container clearfix">
      <div class="table-responsive mb_60">
        <table class="table table_cart">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Produto</th>
              <th class="text-center">Preço Unitário</th>
              <th class="text-center">Quantidade</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a title="Remove this item" href="#" class="remove_cart">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
              <td class="icon_cart">
                <a href="#">
                  <i style="font-size:40px;" class="fa fa-cloud"></i>
                </a>
              </td>
              <td class="name_item_cart">
                <a href="#">
                  Cloud Server (Custom Plan)
                </a>
              </td>
              <td class="text-center">
                <span>
                  R$ 224,93
                </span>
              </td>
              <td class="text-center">
                <div class="quantity_item_cart clearfix">
                  <input type="button" value="-" class="less">
                  <input type="text" value="1" name="quantity" class="qty_item">
                  <input type="button" value="+" class="add">
                </div>
              </td>
              <td class="text-center">
                <span>
                  R$ 224,93
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="6">
                <div class="row clearfix">
                  <div class="col-md-4 col-xs-4 no_padding">
                    <div class="col-md-8 col-xs-7 no_padding">
                      <input type="text" class="coupon">
                    </div>
                    <div class="col-md-4 col-xs-5">
                      <a href="#" class="btn btn-primary no_margin">Aplicar Cupom</a>
                    </div>
                  </div>
                  <div class="col-md-8 col-xs-8 no_padding">
                    <a class="btn btn-success no_margin pull-right">Finalizar Compra</a>
                    <a class="btn btn-primary mt_0 pull-right">Continuar Comprando</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container clearfix">
      <div class="row">
        <div class="col-md-6 col-md-offset-6 clearfix">
          <div class="table-responsive">
            <h4>Total no Carrinho</h4>
            <table class="table table_cart">
              <tbody>
                <tr>
                  <td>
                    <strong>Subtotal no Carrinho</strong>
                  </td>
                  <td>
                    <span>
                      R$ 224,93
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Total</strong>
                  </td>
                  <td>
                    <span class="total_value">
                      <strong>
                        R$ 224,93
                      </strong>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block javascript %}
{% endblock %}