{% extends 'layouts/shop.html' %}

{% block content %}

<section class="page_title page_title_mini">
  <div class="container clearfix">
    <h1>Servidores Dedicados</h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">Página Inicial</a>
      </li>
      <li>
        <a href="#">Produtos e Serviços</a>
      </li>
      <li class="active">Servidores Dedicados</li>
    </ol>
  </div>
</section>
<section id="page_content">
  <div class="wrap_content">
    <div class="container clearfix">
      <ul class="menu_steps clearfix">
        <li>
          <a class="step_icon fa fa-database" href="#"></a>
          <h5>Configurar Produto</h5>
        </li>
        <li>
          <a class="step_icon fa fa-shopping-cart" href="#"></a>
          <h5>Revisar Compra</h5>
        </li>
        <li class="active">
          <a class="step_icon fa fa-user" href="#"></a>
          <h5>Identificação</h5>
        </li>
        <li>
          <a class="step_icon fa fa-money" href="#"></a>
          <h5>Efetuar Pagamento</h5>
        </li>
        <li>
          <a class="step_icon fa fa-check" href="#"></a>
          <h5>Produto Liberado</h5>
        </li>
      </ul>
    </div>
    <div class="container clearfix">
      <div id="form_login" class="col-md-4 mb_0">
        <div class="well well-lg mb_0">
          <form method="post" id="new_user" class="mb_0">
          <h3>Logar na sua Conta</h3>
          <div class="col-md-12">
            <label>Email</label>
            :
            <input type="email" id="user_email" name="user[email]" class="form-control">
          </div>
          <div class="col-md-12 mt_20">
            <label>Senha</label>
            :
            <input type="password" id="user_password" name="user[password]" class="form-control">
          </div>
          <div class="col-md-12 mb_0 mt_20">
            <input type="submit" class="btn btn-primary no_margin" value="Sign In" name="commit">
            <a href="#" class="pull-right">Forgot password?</a>
            <br>
          </div>
          </form>
        </div>
      </div>
      <div id="form_register" class="col-md-8 mb_0">
        <h3>Não tem uma conta? Registre-se agora.</h3>
        <form method="post" id="new_user" class="mb_0"><input type="hidden" value="✓">
        <div class="col-md-4">
          <label>Email</label>
          :
          <input type="email" id="user_email" name="user[email]" class="form-control">
        </div>
        <div class="col-md-4">
          <label>Senha</label>
          :
          <input type="password" id="user_password" name="user[password]" class="form-control">
        </div>
        <div class="col-md-4">
          <label>Confirme sua senha</label>
          :
          <input type="password" id="user_password_confirmation" name="user[password_confirmation]" class="form-control">
        </div>
        <div class="col-md-12 mb_0 mt_20">
          <input type="submit" class="btn btn-primary no_margin" value="Sign Up" name="commit">
        </div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block javascript %}
{% endblock %}