{% extends 'layouts/shop.html' %} {% block content %}
<section class="page_title page_title_mini">
    <div class="container clearfix">
        <h2>Payment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="cart.html">Shopping Cart</a>
            </li>
            <li class="active">
                Payment
            </li>
        </ol>
    </div>
</section>

<section id='page_content'>
    <div class='wrap_content'>
        <!-- steps -->
        <div class="container clearfix">
            <ul class="menu_steps clearfix">
                <li>
                    <a class="step_icon fa fa-database" href="#"></a>
                    <h5>Configure Product</h5>
                </li>
                <li>
                    <a class="step_icon fa fa-shopping-cart" href="#"></a>
                    <h5>Review Purchase</h5>
                </li>
                <li>
                    <a class="step_icon fa fa-user" href="#"></a>
                    <h5>Identification</h5>
                </li>
                <li class="active">
                    <a class="step_icon fa fa-money" href="#"></a>
                    <h5>Payment</h5>
                </li>
                <li>
                    <a class="step_icon fa fa-check" href="#"></a>
                    <h5>Product Released</h5>
                </li>
            </ul>
        </div>
        <!-- content - table -->
        <div class='container mt_40'>
            <table class='table cart'>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href='#'>Small CS Plan</a>
                        </td>
                        <td>
                            <span>$100.00</span>
                        </td>
                        <td>2</td>
                        <td>
                            <span>$200.00</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href='#'>Cloud Server Custom</a>
                        </td>
                        <td>
                            <span>$50.00</span>
                        </td>
                        <td>1</td>
                        <td>
                            <span>$50.00</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='container mt_40'>
            <div class='row'>
                <div class='col-md-6 col-md-offset-6'>
                    <table class='table cart'>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Server's Total Value</strong>
                                </td>
                                <td>
                                    <span>$200.00</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Taxes</strong>
                                </td>
                                <td>
                                    <span>$0.00</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Total</strong>
                                </td>
                                <td>
                                    <span>$250.00</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Exchange US$-R$</strong>
                                </td>
                                <td>
                                    <span>$40.0</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Actual Total</strong>
                                </td>
                                <td>
                                    <span>
                                        <strong>R$1000.00</strong>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
        <div class='container pt_20'>
            <div class='row'>
                <label>Payment Type</label>
            </div>
            <div class='row'>
                <div class='col-md-2'>
                    <label class="payment-radio">
                        <div class="payment-option">
                            <div class="payment-icon">
                                <i class="fa fa-credit-card"></i>
                            </div>
                                <input name="payment" type='radio' checked="checked">
                                <span style='padding-left: 5px;'>Credit Card</span>
                                </input>
                        </div>
                    </label>
                </div>
                <div class='col-md-2'>
                    <label class="payment-radio">
                        <div class="payment-option">
                            <div class="payment-icon">
                                <i class="fa fa-paypal"></i>
                            </div>
                                <input name="payment" type='radio'>
                                <span style='padding-left: 5px;'>Paypal</span>
                                </input>
                        </div>
                    </label>
                </div>
                <div class='col-md-2'>
                    <label class="payment-radio">
                        <div class="payment-option">
                            <div class="payment-icon">
                                <i class="fa fa-usd"></i>
                            </div>
                                <input name="payment" type='radio'>
                                <span style='padding-left: 5px;'>PagSeguro</span>
                                </input>
                        </div>
                    </label>
                </div>
                <div class='col-md-2'>
                    <label class="payment-radio">
                        <div class="payment-option">
                            <div class="payment-icon">
                                <i class="fa fa-money"></i>
                            </div>
                                <input name="payment" type='radio'>
                                <span style='padding-left: 5px;'>Billet</span>
                                </input>
                        </div>
                    </label>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='row mt_40'>
                <div class='col-md-2'>
                    <a class='btn btn-primary' href='cart-released.html'>Confirm</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}
