{% extends 'layouts/shop.html' %}

{% block content %}

<div id="page-menu">
  <div class="container clearfix">
    <div class="menu_page_title">
      Products
      <span>Foo Inc.</span>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">Servers</a>
        </li>
        <li>
          <a href="#">E-mails</a>
        </li>
        <li>
          <a href="#">Office 365</a>
        </li>
      </ul>
    </nav>
    <div id="page-submenu-trigger">
      <i class="icon-reorder"></i>
    </div>
  </div>
</div>

<section class="page_title">
  <div class="container clearfix">
    <h2>Servers</h2>
    <span>The Ideal Servers for your necessity, performance and reliability!</span>
    <ol class="breadcrumb">
      <li>
        <a>Home</a>
      </li>
      <li>
        <a href="categories.html">Store</a>
      </li>
      <li class="active">Servers</li>
    </ol>
  </div>
</section>
<section id="page_content">
  <div class="wrap_content">
    <div class="container clearfix">
      <div class="title_border_bottom">
        <h3>
          More
          <span>plans on your choice</span>
        </h3>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box_plan">
          <div class="box_icon_plan">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="box_desc">
            <h3>
              Small
            </h3>
            <p>
              Processor
              :
              <b>1 x 2.0 GHz Core</b>
              <br>
              RAM Memory
              :
              <b>2 GB</b>
              <br>
              Disk Type
              :
              <b>san</b>
              <br>
              Disk 1 (SAN)
              :
              <b>25 GB (SAN)</b>
              <br>
              Datacenter
              :
              <b>Washington 1</b>
              <br>
              Operating System
              :
              <b>Debian - Latest (64 bit)</b>
              <br>
              R$ 224,93
            </p>
            <a href="plans-customize.html" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box_plan">
          <div class="box_icon_plan">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="box_desc">
            <h3>
              Medium
            </h3>
            <p>
              Processor
              :
              <b>2 x 2.0 GHz Cores</b>
              <br>
              RAM Memory
              :
              <b>4 GB</b>
              <br>
              Disk Type
              :
              <b>san</b>
              <br>
              Disk 1 (SAN)
              :
              <b>25 GB (SAN)</b>
              <br>
              Datacenter
              :
              <b>Washington 1</b>
              <br>
              Operating System
              :
              <b>Debian - Latest (64 bit)</b>
              <br>
              R$ 449,86
            </p>
            <a href="plans-customize.html" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box_plan">
          <div class="box_icon_plan">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="box_desc">
            <h3>
              Large
            </h3>
            <p>
              Processor
              :
              <b>4 x 2.0 GHz Cores</b>
              <br>
              RAM Memory
              :
              <b>8 GB</b>
              <br>
              Disk Type
              :
              <b>san</b>
              <br>
              Disk 1 (SAN)
              :
              <b>100 GB (SAN)</b>
              <br>
              Datacenter
              :
              <b>Washington 1</b>
              <br>
              Operating System
              :
              <b>Debian - Latest (64 bit)</b>
              <br>
              R$ 940,14
            </p>
            <a href="plans-customize.html" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box_plan">
          <div class="box_icon_plan">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="box_desc">
            <h3>
              Enterprise
            </h3>
            <p>
              Processor
              :
              <b>12 x 2.0 GHz Cores</b>
              <br>
              RAM Memory
              :
              <b>12 GB</b>
              <br>
              Disk Type
              :
              <b>san</b>
              <br>
              Disk 1 (SAN)
              :
              <b>100 GB (SAN)</b>
              <br>
              Disk 2 (SAN)
              :
              <b>250 GB (SAN)</b>
              <br>
              Datacenter
              :
              <b>Washington 1</b>
              <br>
              Operating System
              :
              <b>Debian - Latest (64 bit)</b>
              <br>
              R$ 2.008,82
            </p>
            <a href="plans-customize.html" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box_plan">
          <div class="box_icon_plan">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="box_desc">
            <h3>
              Blog
            </h3>
            <p>
              Processor
              :
              <b>2 x 2.0 GHz Cores</b>
              <br>
              RAM Memory
              :
              <b>2 GB</b>
              <br>
              Disk Type
              :
              <b>san</b>
              <br>
              Disk 1 (SAN)
              :
              <b>25 GB (SAN)</b>
              <br>
              Datacenter
              :
              <b>Washington 1</b>
              <br>
              Operating System
              :
              <b>Debian - Latest (64 bit)</b>
              <br>
              R$ 321,33
            </p>
            <a href="plans-customize.html" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box_plan">
          <div class="box_icon_plan">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="box_desc">
            <h3>
              Ecommerce
            </h3>
            <p>
              Processor
              :
              <b>4 x 2.0 GHz Cores</b>
              <br>
              RAM Memory
              :
              <b>8 GB</b>
              <br>
              Disk Type
              :
              <b>san</b>
              <br>
              Disk 1 (SAN)
              :
              <b>25 GB (SAN)</b>
              <br>
              Datacenter
              :
              <b>Washington 1</b>
              <br>
              Operating System
              :
              <b>Debian - Latest (64 bit)</b>
              <br>
              R$ 874,01
            </p>
            <a href="plans-customize.html" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}