.center, .box_category, .box_plan, .box_category, .box_plan {
    text-align: center !important;
}

.box_icon, .box_plan .box_icon_plan, .box_plan, .box_plan .box_icon_plan {
    border: 1px solid #e5e5e5;
}

.box_category .fbox-desc, .box_desc,  {
    background-color: #fff;
    border-color: -moz-use-text-color #e5e5e5 #e5e5e5;
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 25px;
}

.box_icon i {
    font-size: 130px;
}