#page-menu {
    background-color: #BEBEBE;
}

#page-menu .menu-title, .menu_page_title, .menu_page_title {
    color: #fff;
    float: left;
    font-size: 20px;
    font-weight: 300;
}

#page-menu nav {
    float: right;
    position: relative;
}

#page-menu nav li a {
    color: #fff;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    padding: 0 17px;
}

#page-menu nav ul {
    display: inline-flex;
    list-style: none;
}
#page-menu nav {
    float: right;
    position: relative;
}