.page_title ol.breadcrumb {
    background-color: transparent;
    font-size: @font-sm;
    left: auto;
    margin: -10px 0 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    width: auto;
    a{
        color: lighten(@text-color-inverse, 50%);
    }
}