abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}
.page_title{
	padding: 25px 0px !important;
	h2{
	    margin-top: 5px;
	    font-size: 24px;
	}
}

.box_SO {
    cursor: pointer;
    width: 100%;
    height: 110px;
    background: rgba(195, 200, 204, 0.2) none repeat scroll 0% 0%;
    .box_img {
    	padding: 25px;
	    width: 100%;
	    text-align: center;
	}
}

.value_div{
	table{
		font-size: 12px;
		tbody{
			tr{
				td{
					padding: 5px 10px;
				}
			}
		}
	}
}

.switching{

	.switch {
	    position: relative;
	    margin: 20px auto;
	    height: 26px;
	    width: 120px;
	    background: lighten(@dark-gray, 10%);
	    border-radius: 3px;
	}

	.switch-label {
	    position: relative;
	    z-index: 2;
	    float: left;
	    width: 58px;
	    line-height: 26px;
	    font-size: 11px;
	    color: darken(@dark-gray, 40%);
	    text-align: center;
	    cursor: pointer;
	    &:active {
	    	font-weight: bold;
		}
	}

	.switch-label-off {
	    padding-left: 2px;
	}

	.switch-label-on {
	    padding-left: 5px;
	}

	.switch-input {
	    display: none;
	}

	.switch-input:checked + .switch-label {
	    font-weight: bold;
	    color: white;
	    -webkit-transition: 0.15s ease-out;
	    -moz-transition: 0.15s ease-out;
	    -o-transition: 0.15s ease-out;
	    transition: 0.15s ease-out;
	}

	.switch-input:checked + .switch-label-on ~ .switch-selection {
	    /* Note: left: 50% doesn't transition in WebKit */
	    left: 60px;
	}

	.switch-selection {
	    display: block;
	    position: absolute;
	    z-index: 1;
	    top: 2px;
	    left: 2px;
	    width: 58px;
	    height: 22px;
	    background: darken(@dark-gray, 40%);
	    border-radius: 3px;
	    -webkit-transition: left 0.15s ease-out;
	    -moz-transition: left 0.15s ease-out;
	    -o-transition: left 0.15s ease-out;
	    transition: left 0.15s ease-out;
	}
}

#shop{
	#page-menu{
		.menu_page_title{
			padding: 6px 0px;
			font-size: 16px;
			span{
				margin-left: 5px;
				font-weight: 600;
			}
		}
		.mini-nav{
			ul{
				margin: 0px;
				li{
					a{
						height: none;
					}
				}
			}
		}
	}
	.navbar{
		height: 100px;
		max-height: 100px;
		margin-bottom: 0px;
		.navbar-brand{
			padding: 35px 0px;
			font-size: 30px;
			text-transform: uppercase;
		}
		.main-nav{
			padding: 35px 0px;
			margin-bottom: 8px;
			li{
				a{
					text-transform: uppercase;
					color: @text-color;
					font-weight: 600;
					padding: 10px;
					border: 1px solid transparent;
					text-decoration: none;
					border-radius: 4px;
					&:hover,
					&:active{
						border: 1px solid @text-color;
					}
					&.login{
						background-color: @text-color;
						color: @gray-bg;
					}
				}
			}
		}
	}

//SWITCH CHECKBOX
	.onoffswitch {
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        height: 30px; padding: 0; line-height: 30px;
        border: 2px solid #999999; border-radius: 30px;
        background-color: #EEEEEE;
        transition: background-color 0.3s ease-in;
    }
    .onoffswitch-label:before {
        content: "";
        display: block; width: 30px; margin: 0px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 58px;
        border: 2px solid #999999; border-radius: 30px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label {
        background-color: #34A7C1;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
       border-color: #34A7C1;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label:before {
        right: 0px; 
    }
}


//WELLS
.well {
    background-color: @light-gray;
    border: 1px solid @border-color;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    overflow: auto;
    .well-lg {
	    border-radius: 6px;
	    padding: 24px;
	}
}
