.menu_steps li {
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.menu_steps li::after, .menu_steps li::before {
    border-top: 1px dashed lighten(@dark-gray, 10%);
    content: "";
    left: 0;
    margin-left: -26px;
    position: absolute;
    top: 30px;
    width: 50%;
}
.menu_steps li::after {
    left: auto;
    margin: 0 -26px 0 0;
    right: 0;
}

.menu_steps::first-child::before, .menu_steps::last-child::after {
    display: none;
}
.menu_steps li a.step_icon {
	transition: all 0.3s ease 0s;
    margin: 0 auto;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid darken(@dark-gray, 30%);
    color: darken(@dark-gray, 30%);
    line-height: 50px;
    height: 52px;
    width: 52px;
    cursor: pointer;
    display: block;
    float: none;
    position: relative;
    font-size: 28px;
    text-decoration: none;
}
.menu_steps li.active a, .menu_steps li:hover a  {
    background-color: darken(@dark-gray, 30%);
    border-color: darken(@dark-gray, 30%);
    color: #fff;
}
