#page-menu {
    height: 44px;
    background-color: @dark-gray-bg;
    .menu_page_title {
        color: @inverse;
        float: left;
        span {
            font-size: 20px;
            font-weight: 600;
        }
    }
    nav {
        float: right;
        position: relative;
        ul {
            display: inline-flex;
            list-style: none;
        }
        li a {
            color: @inverse;
            display: block;
            font-size: 14px;
            line-height: 44px;
            padding: 0 17px;
            &:hover {
                text-decoration: none;
                background-color: darken(@dark-gray-bg, 20%);
            }
        }
    }
}



