//
// General CSS
// --------------------------------------------------


// == Helpers
//
//##

// Borders

.border-bottom {
    border-bottom:				1px solid #E7EAEC !important;
}

// == Main Sections
//
//##

// Main wrapper
#wrapper {
    padding-left: 0;
    margin: 0;
    box-shadow: none;
    width: 100%;
    .transitions-all;
	&.toggled {
	    padding-left: @sidebar-width;
	    #sidebar-wrapper {
		    width: @sidebar-width;
		}
		#page-content-wrapper {
		    position: absolute;
		    margin-right: -@sidebar-width;
		}
	}
}

// Main content wrapper
#page-content-wrapper {
    width: 100%;
    position: absolute;
    .wrapper-content {
		padding: 20px 10px 40px;
	}
}

// Page Content Wrapper  

#page_content .wrap_content {
    padding: 80px 0;
    position: relative;
}

// Sidebar
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: @sidebar-width;
    width: 0;
    height: 100%;
    margin-left: -@sidebar-width;
    overflow-y: auto;
    background: darken(@light-gray, 5%); //lighten(@dark-gray, 20%);
    border-right: 1px solid #E7EAEC;
    .transitions-all;

    #side-menu {
	    position: absolute;
	    top: 0;
	    width: @sidebar-width;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    .nav-header {
		    font-size: 30px;
		    text-transform: uppercase;
		    letter-spacing: 8px;
		    color: @nav-links-gray;
		    padding: 20px;
		}
		li {
		    text-indent: 20px;
		    &.active{
		    	border-left: 4px solid darken(@dark-gray, 30%);
		    	background: @dark-gray
		    }
		    a {
			    //display: block;
			    text-decoration: none;
			    color: @text-color;
			    font-weight: 600;
			    padding: 14px 20px 14px 25px;
			    &:hover {
				    text-decoration: none;
				    color: darken(@nav-links-gray, 50%);
				    background: @dark-gray;
				}
				&:focus{
				    text-decoration: none;
				}
			}
		}
	}
}

// Navbar
.navbar{
	background: @light-gray;
	padding: 0px 10px;
	border-radius: 0px;
	.navbar-top-links li {
	    display: inline-block;
	}
    .profiles {
    	margin-right: 0px !important;
        .profile-element {
			img {
				width: 32px;
				margin-right: 10px;
			}
            a{
                padding: 10px 0px 0px 15px !important;
                display: inline-block;
                color: @nav-links-gray;
            }
        }
    }
}

// Footer
.footer{
	&.fixed{
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		z-index: 1000;
		padding: 10px 20px;
		background: #FFF none repeat scroll 0% 0%;
		border-top: 1px solid #E7EAEC;
		margin-left: @sidebar-width;
	}
}

// == Media Queries
//
//##
@media(min-width:768px) {
    #wrapper {
        padding-left: @sidebar-width;
        &.toggled {
        	padding-left: 0;
	        #sidebar-wrapper {
		        width: 0;
		    }
		    #page-content-wrapper {
		        position: relative;
		        margin-right: 0;
		    }
	    }
    }

    #sidebar-wrapper {
        width: @sidebar-width;
    }

    #page-content-wrapper {
        padding: 0px 15px;
		position: relative;
    }
}

@n: 0;
@x: 10px;
@s: 20px;
@m: 40px;
@l: 60px;


//NO MARGIN

.no_margin{margin: 0;}

//NO PADDING

.no_padding{padding: 0;}

//MARGIN TOP

.mt_0{
  margin-top: @n;
}

.mt_10{
  margin-top: @x;
}

.mt_20{
  margin-top: @s;
}

.mt_40{
  margin-top: @m;
}

.mt_60{
  margin-top: @l;
}

//MARGIN BOTTOM

.mb_0{
  margin-bottom: @n;
}

.mb_10{
  margin-bottom: @x;
}

.mb_20{
  margin-bottom: @s;
}

.mb_40{
  margin-bottom: @m;
}

.mb_60{
  margin-bottom: @l;
}

//MARGIN LEFT

.ml_0{
  margin-left: @n;
}

.ml_10{
  margin-left: @x;
}

.ml_20{
  margin-left: @s;
}

.ml_40{
  margin-left: @m;
}

.ml_60{
  margin-left: @l;
}

//MARGIN RIGHT

.mr_0{
  margin-right: @n;
}

.mr_10{
  margin-right: @x;
}

.mr_20{
  margin-right: @s;
}

.mr_40{
  margin-right: @m;
}

.mr_60{
  margin-right: @l;
}

//PADDING TOP

.pt_0{
  padding-top: @n;
}

.pt_10{
  padding-top: @x;
}

.pt_20{
  padding-top: @s;
}

.pt_40{
  padding-top: @m;
}

.pt_60{
  padding-top: @l;
}

//PADDING BOTTOM

.pb_0{
  padding-bottom: @n;
}

.pb_10{
  padding-bottom: @x;
}

.pb_20{
  padding-bottom: @s;
}

.pb_40{
  padding-bottom: @m;
}

.pb_60{
  padding-bottom: @l;
}

//PADDING LEFT

.pl_0{
  padding-left: @n;
}

.pl_10{
  padding-left: @x;
}

.pl_20{
  padding-left: @s;
}

.pl_40{
  padding-left: @m;
}

.pl_60{
  padding-left: @l;
}

//PADDING RIGHT

.pr_0{
  padding-right: @n;
}

.pr_10{
  padding-right: @x;
}

.pr_20{
  padding-right: @s;
}

.pr_40{
  padding-right: @m;
}

.pr_60{
  padding-right: @l;
}