//
// General CSS
// --------------------------------------------------

// == Helpers
//
//##
.border-bottom {
    border-bottom:				1px solid #E7EAEC !important;
}

// == Main Sections
//
//##

// Main wrapper
#wrapper {
    padding-left: 0;
    .transitions-all;
	&.toggled {
	    padding-left: @sidebar-width;
	    #sidebar-wrapper {
		    width: @sidebar-width;
		}
		#page-content-wrapper {
		    position: absolute;
		    margin-right: -@sidebar-width;
		}
	}
}

// Main content wrapper
#page-content-wrapper {
    width: 100%;
    position: absolute;
    .wrapper-content {
		padding: 20px 10px 40px;
	}
}

// Sidebar
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: @sidebar-width;
    width: 0;
    height: 100%;
    margin-left: -@sidebar-width;
    overflow-y: auto;
    background: darken(@light-gray, 5%); //lighten(@dark-gray, 20%);
    border-right: 1px solid #E7EAEC;
    .transitions-all;

    #side-menu {
	    position: absolute;
	    top: 0;
	    width: @sidebar-width;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    .nav-header {
		    font-size: 30px;
		    text-transform: uppercase;
		    letter-spacing: 8px;
		    color: @nav-links-gray;
		    padding: 20px;
		}
		li {
		    text-indent: 20px;
		    &.active{
		    	border-left: 4px solid darken(@dark-gray, 30%);
		    	background: @dark-gray
		    }
		    a {
			    //display: block;
			    text-decoration: none;
			    color: @text-color;
			    font-weight: 600;
			    padding: 14px 20px 14px 25px;
			    &:hover {
				    text-decoration: none;
				    color: darken(@nav-links-gray, 50%);
				    background: @dark-gray;
				}
				&:focus{
				    text-decoration: none;
				}
			}
		}
	}
}

// Navbar
.navbar{
	background: @light-gray;
	padding: 0px 10px;
	border-radius: 0px;
	.navbar-top-links li {
	    display: inline-block;
	}
    .profiles {
    	margin-right: 0px !important;
        .profile-element {
			img {
				width: 32px;
				margin-right: 10px;
			}
            a{
                padding: 10px 0px 0px 15px !important;
                display: inline-block;
                color: @nav-links-gray;
            }
        }
    }
}

// Footer
.footer{
	&.fixed{
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		z-index: 1000;
		padding: 10px 20px;
		background: #FFF none repeat scroll 0% 0%;
		border-top: 1px solid #E7EAEC;
		margin-left: @sidebar-width;
	}
}

// == Media Queries
//
//##
@media(min-width:768px) {
    #wrapper {
        padding-left: @sidebar-width;
        &.toggled {
        	padding-left: 0;
	        #sidebar-wrapper {
		        width: 0;
		    }
		    #page-content-wrapper {
		        position: relative;
		        margin-right: 0;
		    }
	    }
    }

    #sidebar-wrapper {
        width: @sidebar-width;
    }

    #page-content-wrapper {
        padding: 0px 15px;
		position: relative;
    }
}