{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %} Zertico - Base theme {% endblock %}</title>
  <link rel="stylesheet" href="stylesheets/global.css">

  {% block head %}{% endblock %}
</head>
<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      {% include "parts/page-nav.html" %}
    </div>
    <div id="page-content-wrapper" class="gray-bg">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="javascripts/shared.js"></script>
  {% block javascript %}{% endblock %}
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
</body>
</html>
