{% extends 'layouts/admin.html' %} {% block content %}
<div class='row wrapper'>
    <div class='col-lg-10'>
        <h3>Listing Categories</h3>
        <ol class='breadcrumb'>
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a>Categories</a>
            </li>
            <li class='active'>
                <strong>Listing Categories</strong>
            </li>
        </ol>
    </div>
    <div class='col-lg-2'></div>
</div>
<!-- CONTENT -->
<div class='wrapper wrapper-content fix-padding-mini-dashs'>
    <div class='row'>
        <div class="col-lg-12 s-element">
            <br>
            <div class="pull-right">
                <button class="btn btn-default">New Category</button>
            </div>
            <br>
            <br>
            <div class="s-element-item">
                <i class="fa fa-cloud"></i>
                <a>Servers</a>
            </div>
            <div class="s-element-item">
                <i class="fa fa-cloud"></i>
                <a>Emails</a>
            </div>
            <div class="s-element-item">
                <i class="fa fa-cloud"></i>
                <a>Office 365</a>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class='footer fixed'>
    <div class='pull-right'>
        <a href="#" class='text-muted' style='margin-right: 20px;'>Questions</a>
        <a class="btn btn-default btn-feeds" href="#" role="button" style="margin-right: 20px;">Feedback</a>
        <a href="#" class='text-muted'>Contact</a>
    </div>
    <div>
        <span class='text-muted'>Copyright © 2015 Foo Inc.</span>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
