{% extends 'layouts/admin.html' %} {% block content %}
<div class='row wrapper'>
    <div class='col-lg-10'>
        <h3>Listing Plans</h3>
        <ol class='breadcrumb'>
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a>Plans</a>
            </li>
            <li class='active'>
                <strong>Listing Plans</strong>
            </li>
        </ol>
    </div>
    <div class='col-lg-2'></div>
</div>
<!-- CONTENT -->
<div class='wrapper wrapper-content'>
    <div class='row'>
        <div class='col-lg-12 s-element'>
            <div class=''>
                <h4>Plans</h4>
            </div>
            <div class="pull-right">
                <button class="btn btn-default">New Plan</button>
            </div>
            <br>
            <br>
            <div class="s-element-item">
                <i class="fa fa-square"></i>
                <a>Medium</a>
            </div>
            <div class="s-element-item">
                <i class="fa fa-square"></i>
                <a>Extreme</a>
            </div>
            <div class="s-element-item">
                <i class="fa fa-square"></i>
                <a>Basic</a>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class='footer fixed'>
    <div class='pull-right'>
        <a href="#" class='text-muted' style='margin-right: 20px;'>Questions</a>
        <a class="btn btn-default btn-feeds" href="#" role="button" style="margin-right: 20px;">Feedback</a>
        <a href="#" class='text-muted'>Contact</a>
    </div>
    <div>
        <span class='text-muted'>Copyright © 2015 Foo Inc.</span>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
