{% extends 'layouts/admin.html' %} {% block content %}
<!-- APP -->
<div class='row wrapper backs'>
    <div class='col-lg-3 go-back'>
        <i class="fa fa-angle-left"></i>
        <span>Companies</span>
    </div>
    <div class='col-lg-5 title'>
        <span>Foo Inc.</span>
    </div>
    <div class="col-lg-2 pull-right">
        <a class="btn btn-danger" href="#" role="button"><i class="fa fa-times"></i> Delete Company</a>
    </div>
</div>
<div class='row wrapper backs-nav'>
    <div class='col-lg-6 col-lg-offset-3 comp-nav'>
        <div class="comp-nav-item">
            <a href="#">
                <i class="fa fa-info"></i>
                <span>Information</span>
            </a>
        </div>
        <div class="comp-nav-item">
            <a href="#" title="" class="">
                <i class="fa fa-tint"></i>
                <span>Theme</span>
            </a>
        </div>
        <div class="comp-nav-item">
            <a href="#">
                <i class="fa fa-keyboard-o"></i>
                <span>Domains</span>
            </a>
        </div>
    </div>
</div>
<!-- CONTENT -->
<div class='wrapper wrapper-content fix-padding-mini-dashs'>
    <div class='row'>

        <div class="comp-s-item border-bottom clearfix">
            <div class='col-lg-4'>
                <h4>Company Information</h4>
                <small>You have a list with all company's data. A full and practice overview.</small>
            </div>
            <div class="col-lg-8 summary">
                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Company name</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Foo Inc</span>
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Name</span>   
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span> 
                    </div>  
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Key name</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Long name</span>
                    </div>
                    <div class="col-sm-7 clearfix">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Address 1</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Address 2</span>
                    </div>
                    <div class="col-sm-7 clearfix">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>City</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>State</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                    <span>Country</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Zip code</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Email</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Office phone</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Alternative phone</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>First name</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>     
                    </div>
                </div>

                <div class="summary-group clearfix">
                    <div class="summary-label col-sm-3">
                        <span>Last name</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Loremipsum</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="comp-s-item border-bottom clearfix">
            <div class='col-lg-4'>
                <h4>Manage Theme</h4>
                <small>You can manage the themes of your system here. You have a list with all themes you have available, and choose the one your prefer with just one click. <a href="../docs/documentation.html">More info</a></small>
            </div>

            <div class="col-lg-8 summary">
                <div class="clearfix">
                    <div class="col-sm-3">
                        <span>Current Theme:</span>
                    </div>
                    <div class="col-sm-7">
                        <span>Blue</span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Theme:</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>Blue</option>
                            <option>Yellow</option>
                            <option>Black</option>
                            <option>Clean</option>
                            <option>Red</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="comp-s-item border-bottom clearfix">
            <div class='col-lg-4'>
                <h4>Domains</h4>
                <small>Click in new domain to choose a new domain for the company. <a href="../docs/documentation.html">More info</a></small>
            </div>

            <div class="col-lg-8 summary">
                <h5>Custom Domains</h5>
                <div class="pull-right">
                    <button class="btn btn-default">New Domain</button>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Domain name</th>
                            <th>DNS Target</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>wwww.foo.com</td>
                            <td>ns1.foo.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class='footer fixed'>
    <div class='pull-right'>
        <a href="#" class='text-muted' style='margin-right: 20px;'>Questions</a>
        <a class="btn btn-default btn-feeds" href="#" role="button" style="margin-right: 20px;">Feedback</a>
        <a href="#" class='text-muted'>Contact</a>
    </div>
    <div>
        <span class='text-muted'>Copyright © 2015 Foo Inc.</span>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}
