{% extends 'layouts/admin.html' %} {% block content %}
<!-- APP -->
<div class='row wrapper backs'>
    <div class='col-lg-4 go-back'>
        <i class="fa fa-angle-left"></i>
    </div>
    <div class='col-lg-3 title'>
        <span>Servers</span>
    </div>
    <div class="col-lg-5">
        <a class="btn btn-danger pull-right " href="#" role="button"><i class="fa fa-times"></i> Delete Group</a>
        <a class="btn btn-default pull-right mr_20" role="button" <i class="fa fa-floppy-o"></i> Save</a>
    </div>
</div>
<div class='row wrapper backs-nav'>
    <div class='col-lg-7 col-lg-offset-2 comp-nav'>
        <div class="comp-nav-item">
            <a href="#">
                <i class="fa fa-info"></i>
                <span>Information</span>
            </a>
        </div>
        <div class="comp-nav-item">
            <a href="#" title="" class="">
                <i class="fa fa-tags"></i>
                <span>Groups</span>
            </a>
        </div>
        <div class="comp-nav-item">
            <a href="#" title="" class="">
                <i class="fa fa-plus"></i>
                <span>New Group</span>
            </a>
        </div>
    </div>
</div>
<!-- CONTENT -->
<div class='wrapper wrapper-content fix-padding-mini-dashs'>
    <div class='row'>
        <div class="col-lg-8">
            <div class="comp-s-item border-bottom clearfix">
                <div class='col-lg-4'>
                    <h4>Name</h4>
                    <small>Give a name to this group. (Ex: Servers) <a href="../docs/documentation.html">Learn more about it</a></small>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-8">
                        <span>Current name</span>
                    </div>
                    <div class="col-lg-4">
                        <button class="pull-right btn btn-default">Edit name</button>
                    </div>
                </div>
            </div>
            <div class="comp-s-item border-bottom clearfix">
                <div class='col-lg-4'>
                    <h4>Plans</h4>
                    <small>From here you can create the plans you want to include on this group <a href="../docs/documentation.html">Learn more about it</a></small>
                </div>
                <div class="col-lg-8">
                    <button class="pull-right btn btn-primary">Edit Plans</button>
                </div>
            </div>
            <div class="comp-s-item border-bottom clearfix">
                <div class='col-lg-4'>
                    <h4>Slug</h4>
                    <small>Slug is a "friendly" name that will appear on the url when a client open the page. (Ex: www.mywebsite.com/my_slug) <a href="../docs/documentation.html">Learn more about it</a></small>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-8">
                        <span>Current slug</span>
                    </div>
                    <div class="col-lg-4">
                        <button class="pull-right btn btn-default">Edit slug</button>
                    </div>
                </div>
            </div>
            <div class="comp-s-item border-bottom clearfix">
                <div class='col-lg-4'>
                    <h4>Description</h4>
                    <small>A brief description of what this group is all about. <a href="../docs/documentation.html">Learn more about it</a></small>
                </div>
                <div class="col-lg-8">
                    <div class="col-lg-8">
                        <span>High Performance Server in a Class A Datacenter</span>
                    </div>
                    <div class="col-lg-4">
                        <button class="pull-right btn btn-default">Edit description</button>
                    </div>
                </div>
            </div>
            <div class="comp-s-item border-bottom clearfix">
                <div class='col-lg-4'>
                    <h4>Icon</h4>
                    <small>Choose an icon that best fits with this group. (We use font-awesome icons, so you have lots of them to choose) <a href="../docs/documentation.html">Learn more about it</a></small>
                </div>
                <div class="col-lg-8">
                    <div class="clearfix">
                        <div class="col-sm-3">
                            <span>Current Icon:</span>
                        </div>
                        <div class="col-sm-7">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default">Edit icon</button>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <form class="form-horizontal form-group string required">
                            <label class="col-sm-3 string required control-label">
                                New icon: 
                            </label>
                            <div class="col-sm-7">
                                <select class="form-control" style="font-family: 'FontAwesome', Helvetica;">
                                    <option>Cloud - &#xf0c2;</option>
                                    <option>Truck - &#xf0d1;</option>
                                    <option>Plane - &#xf072;</option>
                                    <option>Ship - &#xf21a;</option>
                                    <option>Car - &#xf1b9;</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="comp-s-item clearfix">
                <div class='col-lg-4'>
                    <h4>Enable Group</h4>
                    <small>You can enable and disable it at any time. <a href="../docs/documentation.html">Learn more about it</a></small>
                </div>
                <div class="col-lg-8">
                    <label>
                        <input type="checkbox" />
                        <span class="ml_10">Enabled</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- preview -->
        <div class="col-lg-4">
            <div class="comp-s-item clearfix">
                <div class="mr_20">
                    <div class="box_group">
                        <div class="box_icon_group">
                          <a href="/br/shop/servers/cloud-servers">
                            <i class="fa fa-cloud"></i>
                          </a>
                        </div>
                        <h3>Cloud Servers</h3>
                        <p>Cloud Servers on SoftLayer, an IBM Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div class='footer fixed'>
    <div class='pull-right mini-menu'>
        <a href="#" class='text-muted' style='margin-right: 20px;'>Dúvidas</a>
        <a class="btn btn-default btn-feeds" href="#" role="button" style="margin-right: 20px;">Feedback</a>
        <a href="#" class='text-muted'>Contato</a>
    </div>
    <div class="copys pull-left">
        <span class='text-muted'>Copyright © 2015 Zertico</span>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}